.container {
	display        : flex !important;
	height         : calc(100vh - 2*4px);
	justify-content: center;
	align-items    : center;
}

.logo {
	width        : 80px;
	height       : 80px;
	text-align   : center;
	margin-bottom: 0.3em;
}

.register-card,
.validation-card {
	width  : 100% !important;
	padding: 2rem 2.5rem 2rem !important;
}

/*调整一下手机版的左右边框*/
@media screen and (max-width: 600px) {

	.register-card,
	.validation-card {
		width  : 100%;
		padding: 2rem 1rem 2rem !important;
	}
}

.register-card-none,
.validation-card-none {
	display: none;
}

.register-tip {
	text-align: center;
}

.register-tip-text {
	display    : block;
	font-size  : 24px !important;
	font-weight: 400 !important;
	line-height: 32px !important;
}

.project-tip-text {
	color    : rgba(0, 0, 0, 0.45);
	font-size: 14px;
}

.input {
	width        : 100%;
	margin-bottom: 0.3em !important;
}

.email-tip-text {
	font-size    : 12px;
	text-align   : left;
	margin-bottom: 0.5em;
}

.password-tip-text {
	font-size : 12px;
	text-align: left;
}

.options-right {
	text-align: right;
}

.options-left {
	text-align: left;
}

.progress-hidden {
	visibility: hidden;
}

/*有个老哥想让input更粗一点*/
.MuiInput-underline:before {
	border-bottom: 1.4px solid rgba(0, 0, 0, 0.3) !important;
}

/*重置focus，不然感觉不好看*/
.MuiButton-containedPrimary:focus {
	background-color: #1890FF !important;
}

/*加个进度条占位符，否则出现手机页面抖动*/
.progress-placeholder {
	/*进度条高度*/
	height  : 4px;
	/*虽然这个属性ie不支持，但是只会用ie也不是目标用户*/
	position: sticky;
	top: 0;
}