@media (min-width: 600px){
	.MuiContainer-root {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}

.container {
	display        : flex !important;
	height         : calc(100vh - 2*4px);
	justify-content: center;
	align-items    : center;
}



.progress-hidden {
	visibility: hidden;
}

/* 调整间距 */
.space-justify-view {
    margin-top   : 0.5rem;
    margin-bottom: 0.6rem;
}

/*加个进度条占位符，否则出现手机页面抖动*/
.progress-placeholder {
	/*进度条高度*/
	height  : 4px;
	/*虽然这个属性ie不支持，但是只会用ie也不是目标用户*/
	position: sticky;
	top: 0;
}

.captcha-img{
	margin: 12px auto;
	display: flex;
	height: 40px;
	width: 150px;
}

.captcha-container{
	margin: 12px auto;
	display: 'block'
}

.captcha-progress{
	display: flex;
	justify-content: center;
}

.center-text{
	text-align: center;
}

.userprotocol-tip-text{
	margin-top: 1rem;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.4);
}

.email-tip-text {
	font-size    : 12px;
	text-align   : left;
	margin-bottom: 0.5em;
	color: rgba(0, 0, 0, 0.45);
}

.password-tip-text {
	font-size : 12px;
	text-align: left;
	color: rgba(0, 0, 0, 0.45);
}



/* Material-UI样式调整 */

/* 有个老哥想让input更粗一点
不过现在换Outlined样式也用不上了
换Outlined原因：
https://medium.com/google-design/the-evolution-of-material-designs-text-fields-603688b3fe03 */
.MuiInput-underline:before {
	border-bottom: 1.4px solid rgba(0, 0, 0, 0.3) !important;
}

/*重置Outlined输入框，不然感觉不好看*/
.MyMuiInput {
	width        : 100%;
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.MuiFormLabel-root{
	font-size: 0.9rem !important;
}

.MuiOutlinedInput-input{
	padding: 10px !important;
}

/* 输入框文字位置校正 */
.MuiInputLabel-outlined{
	transform: translate(14px, 0.81rem) scale(1) !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75) !important;
}

.MuiOutlinedInput-root:not(.Mui-error):hover .MuiOutlinedInput-notchedOutline{
	border-color:#1890FF !important ;
}

/*重置focus，不然感觉不好看 antd:#1890FF elementui:#409eff*/
.MuiButton-containedPrimary:focus {
	background-color: #1890FF !important;
}

.MuiButton-containedPrimary:hover {
    background-color: #40a9ff !important;
}
