.container {
	display: flex !important;
	height: calc(100vh - 4px);
	justify-content: center;
	align-items: center;
}

.logo {
	width: 80px;
	height: 80px;
	text-align: center;
	margin-bottom: 0.3em;
}

.register-card,
.validation-card {
	width: 100%;
	padding: 20px 40px 36px !important;
}

.register-card-none,
.validation-card-none {
	display: none;
}

.register-tip {
	text-align: center;
}

.register-tip-text {
	display: block;
	font-size: 24px !important;
	font-weight: 400 !important;
	line-height: 32px !important;
}

.project-tip-text {
	color: rgba(0, 0, 0, 0.45);
	font-size: 14px;
}

.input {
	width: 100%;
	margin-bottom: 0.3em !important;
}

.email-tip-text {
	font-size: 12px;
	text-align: left;
	margin-bottom: 0.5em;
}

.password-tip-text {
	font-size: 12px;
	text-align: left;
}

.options-right {
	text-align: right;
}

.progress-hidden {
	visibility: hidden;
}

/*有个老哥想让input更粗一点*/
.MuiInput-underline:before {
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.3) !important;
}
