.email-tip-text {
	font-size    : 12px;
	text-align   : left;
	margin-bottom: 0.5em;
	color: rgba(0, 0, 0, 0.45);
}

.password-tip-text {
	font-size : 12px;
	text-align: left;
	color: rgba(0, 0, 0, 0.45);
}
