.xsyd-card-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.xsyd-card-container-tip {
	text-align: center;
}

.xsyd-card-container-title {
	display    : block;
	font-size  : 24px !important;
	font-weight: 400 !important;
	line-height: 32px !important;
	margin     : 10px 0 !important;
}

.xsyd-card-container-subtitle {
	color    : rgba(0, 0, 0, 0.45);
	font-size: 14px;
}

.xsyd-card-container-content {
	flex: 1;
}
